
.rootLayout {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: stretch;
  padding: 10px;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 60px;
}

.title {
  padding: 5px;
  font-size: 20px;
  flex-grow: 1;
  text-align: left;
}

.statusIcon {
  margin: 10px
}

@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.failed {
  color: darkred;
}

.uploading {
  color: darkblue;
  animation: rotating 1s linear infinite;
}

.done {
  color: darkgreen;
}
