.rootContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
  margin: 40px auto;
}

.dropContainer {
  width: 100%;
  height: 150px;
  background: whitesmoke;
  border: 2px dashed grey;
  text-align: center;
  line-height: 9.5;
  color: grey;
}

.uploadInput {
  display: none;
}
